<template>
  <section class="section">
    <div class="container is-fluid">
      <div class="columns is-multiline">
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
        <div class="column is-one-third is-one-quarter-fullhd">
          <Issue/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Issue from "./Issue.vue";

export default {
  name: "Body",
  components: {
    Issue
  }
};
</script>