<template>
  <section class="hero is-light">
    <div class="hero-head">
      <nav class="level">
        <div class="level-left">
          <div class="level-item is-size-3">socialissues.dev</div>
        </div>

        <div class="level-right">
          <p class="level-item">
            <a class="button button is-light is-inverted">
              <b-icon icon="gitlab"/>
              <span>View source</span>
            </a>
          </p>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Find social issues</h1>
        <h2 class="subtitle">Make the communities (and the world) better throught code</h2>
      </div>
    </div>

    <div class="hero-foot">
      <b-field>
        <b-select placeholder="Show only...">
          <option>Python</option>
          <option>Javascript</option>
          <option>CSS</option>
        </b-select>
      </b-field>
    </div>
  </section>
</template>

<style scoped>
.hero-head {
  padding: 1rem;
}

.hero-foot .control {
  text-align: center;
  padding: 1rem;
}
</style>
